<app-header></app-header>
<div class="container">
  <div class="my-5">
    <h1 class="mb-3 text-center">Your Vacancies</h1>
    <div class="row">
      <div class="offset-md-3 col-md-6 my-3" *ngFor="let job of jobs">
        <div class="d-flex justify-content-between border p-3 m-2">
          <div>
            <h3 class="mb-2">{{ job.name }}</h3>
            <div>
              <span class="text-secondary">Experience: {{ job.xp }} years</span>
            </div>
            <div>
              <span class="text-secondary">Salary: {{job.salary}} $</span>
            </div>
            <div>
              {{job.description}}
            </div>

          </div>
          <div>
            <img src="/assets/imgs/company.jpg" height="150px" width="150px">
          </div>
        </div>
      </div>

      <div class="offset-md-3 col-md-6">
        <div class=" m-2">
          <button [routerLink]="'/company/vacancy'" class="btn btn-outline-dark">New Vacancy</button>
        </div>
      </div>
    </div>
  </div>
</div>
