<div class="m-3">
  <div class="m-md-5">
    <div class="m-3">
      <h1 class="text-center">Sign-up {{(!forApplicant) ? 'a Company' : 'an Applicant'}}</h1>
    </div>
    <div class="row">
      <form [formGroup]="form" (submit)="register()">
        <div class="offset-md-3 col-md-6">
          <div class="mb-3">
            <label class="form-label">Name</label>
            <input required [class.is-invalid]="form.errors?.name" formControlName="name" type="text" class="form-control">
            <span *ngIf="form.errors?.name" class="invalid-feedback"> {{ form.errors?.name }} </span>
          </div>
          <div class="mb-3">
            <label class="form-label">Email</label>
            <input required [class.is-invalid]="form.errors?.email" formControlName="username" type="email" class="form-control" placeholder="name@example.com">
            <span *ngIf="form.errors?.email" class="invalid-feedback"> {{ form.errors?.email }} </span>
          </div>

          <div *ngIf="forApplicant" class="mb-3">
            <label class="form-label">Phone</label>
            <input required [class.is-invalid]="form.errors?.phone" formControlName="phone" type="tel" class="form-control" placeholder="+7 (777) 777-77-77" prefix="+7" mask=" (000) 000-00-00">
            <span *ngIf="form.errors?.phone" class="invalid-feedback"> {{ form.errors?.phone }} </span>
          </div>
          <div *ngIf="false">
            <div class="mb-3">
              <label class="form-label">Image</label>
              <input required [class.is-invalid]="form.errors?.image" formControlName="username" type="file" accept=".jpg, .png, .jpeg" class="form-control">
              <span *ngIf="form.errors?.image" class="invalid-feedback"> {{ form.errors?.image }} </span>
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea class="form-control"></textarea>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Password</label>
            <input required [class.is-invalid]="form.errors?.password" formControlName="password" type="password" class="form-control">
            <span *ngIf="form.errors?.password" class="invalid-feedback"> {{ form.errors?.password }} </span>
          </div>
          <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input required formControlName="password_confirmation" type="password" class="form-control">
          </div>
          <div class="d-flex justify-content-center my-3">
            <a [routerLink]="''" class="btn btn-outline-dark">Already have an account?</a>
          </div>
          <button type="submit" class="btn btn-dark">Sign-up</button>
          <a [routerLink]="(forApplicant) ? '/register/company' : '/register/applicant'" class="mx-3 btn btn-outline-dark">Register {{(!forApplicant) ? 'an Applicant' : 'a Company'}}</a>
        </div>

      </form>
    </div>
  </div>
</div>
